@import url(https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-image: url("../images/swayambhu.jpg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: top;
}
h1 {
	color: #FFF7FC;
	font-family: 'Oswald', sans-serif;
	font-size: 7.5em;
	text-transform: uppercase;
	font-weight: 35;
	padding-left: 2.6%;	
	padding-top: 3%;
}
h2 {
	color: #FFF7FC;
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 25;
	padding-left: 3%;
}
h4{
	color: #EBDB96;
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 25;

}
nav {
	display:inline-block;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
	padding-top: 3%;

}
a {
	color: #FFF4F0;
	text-decoration: none;
	padding: 2em;
	
}
p {
	color: #103524;
	font-size: 1.3em;
	font-family: 'Lato', serif;
}
.info-block{
	float: left;
	width: 50%;
	padding: 4%;
	margin-top: 2%;
	background-color: #FAF5F2;
	text-align: center;
	vertical-align: center;

}
.clearfix:after {
    display: block;
    content: " ";
    clear: both;    
}
.photo{
	width: 50%;
}
.photography{
	width: 30%;
	display: grid inline-block;
	padding: 4%;
	margin-left: 2%;
}
.photograph{
	width: 30%;
	display: grid inline-block;
	padding: 4%;
	margin-left: 2%;
}
.left .infor-block{
	float: below;
	width: 80%;
	padding: 4%;
	margin:auto;
	text-align: center;
	background-color: #FAF5F2;
	clear: after;

}
.all{
	max-width: 80%;
	margin: 3em auto;
}
.clearfix:after .all:after {
    display: block;
    content: " ";
    clear: both;    
}
footer {
	margin: 0 auto;
	background-color: #FAF5F2;
	padding:60px,0px;
	width: 100%;

}
.nav a{
	margin: 0 auto;
	padding: 5em;
	font-size: 12px;
	text-decoration: none;
	color:black;
	text-align: center;
}
i {
	padding: 3em;
	color:black;
	clear: both;
}
@media only screen and (max-width: 480px) {
  h1, nav {
    display:block;
    text-align: center;
  }   
  nav a {
    margin: 0 1em 1em;
}
@media only screen and (max-width: 800px) {
  nav {
    float: none;
  }	
  nav {
    float: none;
  }
  nav a {
      margin: 0 1.6em .75em 0;
  }