@import url(https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-image: url("../images/swayambhu.jpg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: top;
}
h1 {
	color: #CCA62B;
	font-family: 'Oswald', sans-serif;
	font-size: 7.5em;
	text-transform: uppercase;
	font-weight: 35;
	padding-left: 2.6%;	
	padding-top: 1%;
}
h2 {
	color: #CF876D;
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 25;
	padding-left: 3%;
}
h4{
	color: #D6A48B;
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 25;

}
.middle {
	color: #E8DAC8;
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 25;
}
nav {
	font-size: 1em;
	font-family: 'Oswald', sans-serif;
	padding-top: 3%;
	padding-left: 1.2%;

}
a {
	color: #5C667A;
	text-decoration: none;
	padding: 2em;
	
}
p {
	color: #496161;
	font-size: 1.3em;
	font-family: 'Lato', serif;
}
.right{
	max-width: 80em;
	margin: 3em auto;
	position: relative;
	margin-top: 4%;
}
.info-block{
	width: 75%;
	padding: 5em 27% 7em 5em;
	top: 5%;
	background-color: #FAF5F2;
	position: absolute;
	z-index: -1;
	box-shadow: 2px 2px 4px rgba(0,0,0,.25);
	clear: after;
}
.clearfix:after {
    display: block;
    content: " ";
    clear: both;    
}
.photo{
	width: 50%;
	float: right;
	box-shadow: 2px 2px 4px rgba(0,0,0,.25);
	
}
.photography{
	width: 30%;
	display: grid inline-block;
	margin-left: 2.3%;
	margin-top: 3%;
}
.photograph{
	width: 30%;
	display: grid inline-block;
	margin-left: 2.3%;
	margin-top: 1%;
}
.left .infor-block{
	padding: 4%;
	margin:auto;
	margin-top: 7%;
	text-align: center;
	background-color: #92A0A9;
}
.clearfix:after .all:after {
    display: block;
    content: " ";
    clear: both;    
}
footer {
	margin: 0 auto;
	background-color: #9E877A;
	padding:60px,0px;
	width: 100%;
	text-align: center;
	margin-top: 5em;

}
.nav a{
	margin: 0 auto;
	padding: 3%;
	font-size: .8em;
	padding-top: 3%;
	color: white;
}
.social{ 
	font-size: 1em;
	padding-top: 2.5%;
	color: white;
 }

.fa {
      padding: 12px;
      font-size: 18px;
      width: 30px;
      margin: 5px 2px;
      color: white;

}
 .Copy {
 	color: white;
 	font-size: .8em;
 	padding-top: .4%;
 	padding-bottom: .2%;
 }

@media only screen and (max-width: 900px){
.info-block, .photo{
	width: 100%;
	padding: 2em
	background-color: #FAF5F2;
	position: absolute;
	clear: after;
}
@media (min-width: 640px) {
.info-block, .photo{
	width: 100%;
	padding: 2em
	background-color: #FAF5F2;
	position: absolute;
	clear: after;
}

@media (min-width: 768px) {
.info-block, .photo{
	width: 100%;
	padding: 2em
	background-color: #FAF5F2;
	position: absolute;
	clear: after;
}
