@import url(https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: lightblue;
	
}
header {
	background-image: url("../images/swayambhu.jpg");
	background-size: cover;
	height: 95vh;
	background-repeat: no-repeat;
	background-position: top;
}
h1 {
	color: #EBDB96;
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	text-transform: uppercase;
	font-weight: 35;
	padding-left: 3em;	
	padding-top: .5em;
}
h3 {
	color: #FFDBF5;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 25;
	padding-left: 3em;
}
#main{
	float: left;

}
.description{
	float: right;
}
.photo {
	background-size: contain;
	height: 50vh;
}
p {
	color: #FFF4F0;
	font-size: 16.5px;
	font-family: 'Lato', serif;
}
a {
	color: #FFF4F0;
	
}
.footer {
	background-color: #FF957E
}