@import url(https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-image: url("../images/swayambhu.jpg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: top;
}
h1 {
	color: #EBDB96;
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	text-transform: uppercase;
	font-weight: 35;
	padding-left: 3em;	
	padding-top: .5em;
}
h3 {
	color: #FFDBF5;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 25;
	padding-left: 3em;
}
nav a{
	display: inline-block;
	padding: 2em;
	font-size: 16px;
}
.info-block{
	float: left;
	width: 50%
}
#photo{
	width: 50%;
}
.left .photo, .left .info-block{
	float: right;
}
p {
	color: black;
	font-size: 16.5px;
	font-family: 'Lato', serif;
}
a {
	color: #FFF4F0;
	
}
footer {
	background-color: #FF957E
}
.clearfix .all {
  content: "";
  clear: both;
}
}